<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <h1>Listings</h1>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Space Available (boxes)</th>
                        <th scope="col">Duration (weeks)</th>
                        <th scope="col">Host Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Street Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Zip Code</th>
                        <th scope="col">See Listing</th>
                    </tr>
                </thead>
                <tbody>
                    <% @listings.each do |l|%>
                    <tr>
                        <td><%= l.space%></td>
                        <td><%= l.duration%></td>
                        <td><%= link_to l.host.name, l.host%></td>
                        <td><%= l.host.email%></td>
                        <td><%= l.host.phone_number%></td>
                        <td><%= l.host.address%></td>
                        <td><%= l.host.city%></td>
                        <td><%= l.host.zip_code%></td>
                        <td><%= link_to "See Listing", l%></td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </body>

</html>