<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <h1>Post a Listing</h1>
                    <%= form_with(model:@listing, local:true, method: :post) do |f|%>
                    

                        <%= f.label :space%>
                        <%= f.select :space,num_box_array(25), {:style => "min-width: 200px;"}, class:"form-control"%>
                        <br/>
                        <%= f.label :duration,"Duration (in weeks)"%>
                        <%= f.select :duration,num_weeks_array(52), {:style => "min-width: 200px;"}, class:"form-control"%>
                        <br/>
                        <%= f.submit "Post Listing", class:"btn btn-primary"%>
                    <%end%>
                </div>
            </div>
        </div>
    </body>
</html>