<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <h1>Post a Listing</h1>
                    <%= form_with(model:@listing, local:true, method: :post) do |f|%>
                    

                        <%= f.label :space%>
                        <%= f.select :space,[["1 Box",1],["2 Boxes",2],["3 Boxes",3],["4 Boxes",4],["5 Boxes",5]], class:"form-control"%>
                        <br/>
                        <%= f.label :duration,"Duration (in weeks)"%>
                        <%= f.text_field :duration%>
                        <br/>
                        <%= f.submit "Post Listing", class:"btn btn-primary"%>
                    <%end%>
                </div>
            </div>
        </div>
    </body>
</html>