<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <div class="row">
           <div class="listing-info">
                <h4><strong>Address:</strong> <%= @host.address%> </h4>
                <h4><strong>Host Name:</strong> <%= link_to @host.name, @host%> </h4>
                <h4><strong>Space Available:</strong> <%= @listing.space%></h4>
                <h4><strong>Max Duration:</strong> <%= @listing.duration%></h4>
                <h4><strong>Price per Box/Week:</strong> $<%= '%.2f' % @listing.price%></h4>
                <% if user_logged_in? && @listing.space > 0 %>
                <%= link_to "Rent Space", new_request_path(:listing_id => params[:id], :space => @listing.space, :duration => @listing.duration, :price => @listing.price),class:"btn btn-primary"%>
                <% elsif current_host == @host %>
                <%= link_to "Delete Listing","/deletelisting/#{@listing.id}",class:"btn btn-danger",method: :delete%>
                <% end%>
           </div>  
        </div>
    </body>
</html>