<!DOCTYPE html>

<html>
    <head>
        <style>
        body{
            margin-top:20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;    
        }
    </style>
    </head>
    <body>
        <div class="row">
            <div class="col-md-4 text-center">
            <div class="card h-100">
                <div class="card-body">
                <h3><%= @listing.host.address%></h3>
                <h4><%= @listing.host.city%>, <%= @listing.host.zip_code%></h4>
                <h4><%= link_to @listing.host.name,@listing.host%></h4>
                <h5><%= bootstrap_icon("box")%> Max Storage <%= @listing.space%> Boxes</h5>
                <% if user_logged_in?%>
                    <%= link_to "Rent Space", new_request_path(:listing_id => params[:id], :space => @listing.space, :duration => @listing.duration),class:"btn btn-primary"%>
                <% elsif current_host == @host %>
                    <%= link_to "Delete Listing","/deletelisting/#{@listing.id}",class:"btn btn-danger",method: :delete%>
                    <h4>Pending Requests</h4>
                    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Listing ID</th>
                            <th scope="col">User</th>
                            <th scope="col">Accept/Deny</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @requests.each do |r|%>
                            <tr>
                                <td><%= link_to r.listing_id, r.listing%></td>
                                <td><%= link_to r.user.name, r.user%></td>
                                <td>
                                    <%= link_to "Accept","/accept/#{r.id}",class:"btn btn-success", method: :delete%>
                                    <%= link_to "Deny", "/deny/#{r.id}",class:"btn btn-danger", method: :delete%>
                                </td>
                            </tr>
                        <%end%>
                                
                    </tbody>
                </table>
                <%end%>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>