<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <div class="row">
           <div class="listing-info">
                <h4><strong>Address:</strong> <%= @host.address%> </h4>
                <h4><strong>Host Name:</strong> <%= link_to @host.name, @host%> </h4>
                <h4><strong>Space Available:</strong> <%= @listing.space%></h4>
                <h4><strong>Max Duration:</strong> <%= @listing.duration%></h4>
                <% if user_logged_in?%>
                <%= link_to "Rent Space", "/rent/#{@listing.id}",class:"btn btn-primary", method: :post%>
                <% elsif current_host == @host %>
                <%= link_to "Delete Listing","/listing/#{@listing.id}",class:"btn btn-danger",method: :delete%>
                <% end%>
           </div>  
        </div>
    </body>
</html>