<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <div class="row">
           <div class="listing-info">
                <h4><strong>Address:</strong> <%= @host.address%> </h4>
                <h4><strong>Host Name:</strong> <%= link_to @host.name, @host%> </h4>
                <h4><strong>Space Available:</strong> <%= @listing.space%></h4>
                <h4><strong>Max Duration:</strong> <%= @listing.duration%></h4>
                <% if user_logged_in?%>
                <%= link_to "Rent Space", new_request_path(:listing_id => params[:id], :space => @listing.space, :duration => @listing.duration),class:"btn btn-primary"%>
                <% elsif current_host == @host %>
                <%= link_to "Delete Listing","/deletelisting/#{@listing.id}",class:"btn btn-danger",method: :delete%>
                <div class="card">
                <h4>Requests</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Listing ID</th>
                            <th scope="col">User</th>
                            <th scope="col">Accept/Deny</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @requests.each do |r|%>
                            <tr>
                                <td><%= link_to r.listing_id, r.listing%></td>
                                <td><%= link_to r.user.name, r.user%></td>
                                <td>
                                    <%= link_to "Accept","/accept/#{r.id}",class:"btn btn-success", method: :delete%>
                                    <%= link_to "Deny", "/deny/#{r.id}",class:"btn btn-danger", method: :delete%>
                                </td>
                            </tr>
                        <%end%>
                                
                    </tbody>
                </table>
                <% end%>
           </div>  
        </div>
    </body>
</html>