<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="row">
    <div class="col-md-5 col-md-offset-3">
        
        <h1>Create Request</h1>
        
        <%= form_with(url:"/admin_request",local:true,method: :post) do |f|%>
            <%= f.label :listing_id%>
            <%= f.hidden_field :listing_id, value: params[:listing_id]%>
            <%= f.label :user%>
            <%= f.select :user,@user_names,{:style => "min-width: 100px;"}, class:"form-control"%>
            <%= f.label :boxes%>
            <%= f.select :boxes,num_box_array(params[:space].to_i), {:style => "min-width: 100px;"}, class:"form-control"%>

            <%= f.label :duration, "Duration (in weeks)"%>
            <%= f.select :duration,num_weeks_array(params[:duration].to_i), {:style => "min-width: 100px;"}, class:"form-control"%>
        
            <%= f.submit "Create Request", class:"btn btn-primary"%>
        <%end%>
        
    </div>
</div>
    </body>
</html>