<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        
        <div class="container">
            <div class="row">

                <div class="col-md-4 user-info">
                    <h3><strong>Host Information</strong></h3>
                    <h4><%= @host.name%></h4>
                    <h4><%= @host.email %></h4>
                    <h4><%= @host.address%>, <%= @host.city%>, <%= @host.zip_code%></h4>
                    <p class="lead"><%= @host.phone_number%></p>
                </div>
                <div class="col-md-4 current-listings">
                    <% if current_host == @host%>
                    <%= link_to "Add New Listing", "/listings/new", class:"btn btn-primary"%>
                    <%end%>
                    <h3>Current Listings</h3>
                        <table class="table">
                            <thead>
                                <tr>    
                                    <th scope="col">Listing ID</th>
                                    <th scope="col">Space Available</th>
                                    <th scope="col">Duration</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <% @listings.each do |l|%>
                                    <tr>    
                                        <th scope="row"><%= link_to l.id, l%></th>
                                        <td><%= l.space%> Boxes</td>
                                        <td><%= l.duration%> Weeks</td>
                                    </tr>
                                <%end%>
                            </tbody>
                        </table>
                  
                </div>

                <% if current_host == @host%>
                <div class="col-md-4 recent-transactions">
                    <h3>Recent Transactions</h3>
                    <table class="table">   
                        <thead>
                            <tr>
                                <th scope="col">Listing ID</th>
                                <th scope="col">Renter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @transactions.each do |t|%>
                                <th scope="row"><%= link_to t.listing_id,t.listing%></th>
                                <td><%= t.user.name%></td>
                            <%end%>
                        </tbody>
                    </table>
                </div>
                <%end%>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>