<% provide(:title, 'Sign up') %>


<div class="row">
  <div class="col-md-6 mx-auto user-form">
    <h1>User Sign up</h1>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone_number, "Phone Number"%>
      <%= f.text_field :phone_number, class: 'form-control'%>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :address, "Address" %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :city, "City" %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state, "State" %>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :zipcode, "Zip code" %>
      <%= f.text_field :zipcode, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>