<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 user-info">
                    <%= link_to "Send Welcome Email","/welcomemail",class:"btn btn-primary", method: :post %>
                    <h3><strong>User Info</strong></h3>
                    <div class="row">
                        <div class="col-xs-2">
                            <h4><strong>Name:</strong></h4>
                            <h4><strong>Email:</strong></h4>
                        </div>
                        <div class="col-xs-4">
                            <h4><%= @user.name%></h4>
                            <h4><%= @user.email%></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 transactions">
                    <h3><strong>Recent transactions</strong></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date Rented</th>
                                <th scope="col">Host Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @transactions.each do |t|%>
                                <tr>
                                    <td><%= t.created_at%></td>
                                    <td><%= link_to t.host.name, t.host%></td>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 requests">
                    <h3>Pending Requests</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Listing ID</th>
                                <th scope="col">Host name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @requests.each do |r|%>
                                <tr>
                                    <td><%= link_to r.listing_id, r.listing%></td>
                                    <td><%= link_to r.host.name, r.host%></td>
                                </tr>

                            <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>