<!DOCTYPE html>
<html>
  <head>
    <title>AirStorage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse", id="navbar">
      <div class="container">
        <%= link_to "AirStorage", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign in",   '#' %></li>
            <li><%= link_to "Users",   '#' %></li>
            <li><%= link_to "Hosts",   '#' %></li>
            <li><%= link_to "FAQs",   '/static_page/faq' %></li>

          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
