<!DOCTYPE html>
<html>
  <head>
    <title>AirStorage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%=  %>  
        <%= link_to bootstrap_icon("box")+" AirStorage",root_path, class:"navbar-brand logo"%>
        <ul class ="navbar-nav navbar-right">
        <%= form_tag('/search',method: :get,class:'navbar-form navbar-left') do%>
          <div class="input-group">
             <%= search_field_tag :search, params[:search], placeholder: "Enter a zipcode", class: "form-control", style: "top: 1px;" %>
             <div class="input-group-btn">
              <%= button_tag bootstrap_icon("search",width:15,height:15),class:"btn btn-info"%>
             </div>
          </div>
        <%end%>
          <% if user_logged_in?%>
           <li><%= link_to "Profile",current_user,class:"nav-item"%></li> 
            <li><%= link_to "Log Out",logout_path,method: :delete, class:"nav-item btn btn-danger"%></li>
          <% elsif host_logged_in?%>
            <%=link_to "Profile",current_host,class:"nav-item"%>
            <%= link_to "Log Out",logout_path,method: :delete, class:"nav-item btn btn-danger"%>
          <%else%>
            <li><%= link_to "User Sign In",userlogin_path,class:"nav-item"%></li>
            <li><%= link_to "Host Sign In",hostlogin_path,class:"nav-item"%></li>
            <li class="nav-item"><%= link_to "FAQs",'/static_page/faq', class:"nav-item"%></li>
          <%end%>
        </ul>
      </div>
    </nav>
    </header>
    <div class="container main">
   
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
